# MongoDB Connection String
MONGODB_URI=

# NextAuth.js Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# GitHub OAuth Provider
GITHUB_ID=
GITHUB_SECRET=

# Google OAuth Provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
